@use '../abstracts/' as abs;

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:where(.outer-container) h1, h2, p, a, button {
    font-family: abs.$league-spartan;
}

img {
    max-width: 100%;
}

